:root {
  --main-color: red;
}

body {
  height: 100vh;
  margin: 0;
}
header {
  height: 5vh;
}

header ul {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
}

header ul li {
  list-style: none;
  padding: 0;
}


header img {
  height: 100%;
}


main {
  height: 95vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

section {
  box-sizing: border-box;
  border: 1px solid;
  overflow: auto;
  padding: 0 .5em;
}

section > * {
  width: 80vw;
}

#ressources {
  display: none;
}

section.clicked {
  grid-column: 2 / 10;
  grid-row: 1 / 3;
}

section.clicked > * {
  width: calc(100% - 1em);
}
